#list components: source, channel and sink
agent1.sources = filesource
agent1.channels = filechannel
agent1.sinks = hdfssink

#bind all 3
agent1.sources.filesource.channels = filechannel
agent1.sinks.hdfssink.channel = filechannel

#source parameters
agent1.sources.filesource.type = netcat
agent1.sources.filesource.bind = quickstart.cloudera
agent1.sources.filesource.port = 9999

#sink parameters
agent1.sinks.hdfssink.type = hdfs
agent1.sinks.hdfssink.hdfs.path = hdfs://quickstart.cloudera/user/flume/
agent1.sinks.hdfssink.rollCount = 2
agent1.sinks.hdfssink.hdfs.fileType = DataStream

#channel parameters
agent1.channels.filechannel.type = file
